div#container {
    width:90%;
    height:100%;
    margin:0 auto;
    background:#FFFFFF;
    /* border-left:#CCCCCC 1px solid; */
    /* border-right:#CCCCCC 1px solid; */
    padding:10px 10px 10px 10px;
}

div#result {
	margin:10px 10px 10px 10px;
	/* width: 80%; */
	/* background:#FEFEEE; */
	/* border-left:#CCCCCC 1px solid; */
	/* border-right:#CCCCCC 1px solid; */
	/* padding:10px 10px 20px 10px; */
}

div#inputId {
    padding:10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    /* background:#FEFEEE; */
}

td.systemUtt {
    background-color: #99FFFF;
}

